<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated parserDSL -->
      <package
            uri="http://eclipse.com/examples/parserDSL"
            class="parserDSL.ParserDSLPackage"
            genModel="model/parserDSL.genmodel"/>
   </extension>

</plugin>
